<ion-header [translucent]="true">
  <ion-toolbar id="parent" color="success">
    <img id="banner" src="../../assets/img/banner.png">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="name"> Daria Margherita Maggi <br>
      <div style="font-size:20px">Engineer in training.<br> Jump to 'Projects' to see<br>what I am working on!</div>
      </div>
      <div class="footer-social-icons">
        <ul class="social-icons">
          <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
          <li><a href="https://www.linkedin.com/in/daria-margherita-maggi-a014461a5/" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/dariamaggi/" class="social-icon"> <i class="fa fa-github"></i></a></li>
        </ul>
        </div>

  <div class="wrap">
    <div class="cube">
      <div class="front">
        <div class="face"><strong>Java, C++, Python</strong></div>
      </div>
      <div class="back">
        <div class="face"><strong>SQL&NoSQL</strong></div>
      </div>
      <div class="top">
        <div class="face"><strong>AngularJS</strong></div>
      </div>
      <div class="bottom">
        <div class="face"><strong>Team working</strong></div>
      </div>
      <div class="left">
        <div class="face"><strong>Curiosity</strong></div>
      </div>
      <div class="right">
        <div class="face"><strong>
            ... and more!</strong></div>
      </div>
    </div>
    </div>
  </div>
</ion-content>
